*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
}
/* UTILITIES */
.bottom-bar{
    width: 100%;
    height: 50px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}
.sidebar{
    height: 100%;
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-content{
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}
.top-bar{
    width: calc(100% - 200px);
    height: 75px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: end;
}
.row{
    display: flex;
}



/* FINE UTILITIES */

/* STYLE TOP-BAR */
#button-top-bar{
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    background-color: black;
   

    
}


/* STYLE CONTENT-MAIN */
.categories{
    text-align: center;
    padding-top: 90px;
    color: gray;
}
.categories span{
    padding-right: 15px;
}

.first-container{
    color: white;
    padding: 20px;
    margin-bottom: 80px;


}
.second-container{
    color: white;
    padding: 20px;
    margin-bottom: 20px;


}
.third-container{
    color: white;
    padding: 20px;
    margin-bottom: 20px;


}
.first-section-img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-top: 20px;
    
}
.song-img{
    width: 100%;
}
.subtitle{
    text-align: center;
    padding-top: 10px;
}
.subtitle p{
    color: gray;
    padding-top: 5px;

}
.second-container p, .third-container p{
    color: gray;
}


/* SIDEBAR */
.top-sidebar{
    padding-left: 15px;
}
.logo-sidebar{
    width: 100%;
    color: white;
}
#logo-spotify{
    width: 130px;
    margin: 15px 0;
    
}

.menu-sidebar{
    color: white;   
}
.menu-list{

    list-style-type: none;
    padding-bottom: 20px;
}

.icon-menu{
    width: 30px;


}
.menu-list span{
    position: relative;
    bottom: 10px;
    color: gray;

}
.playlist{
    width: 100%;
    height: 30vh;
    overflow-y: auto;
    color: white;
}
.playlist-list{

    list-style-type: none;

}
.playlist-list li{
    padding-bottom: 5px;
    color: gray;


}
.playlist-list i{
    font-size: 40px;
    padding-bottom: 25px;
}
.playlist-list h4{
    color: white;
    padding-bottom: 10px;

}
.playlist-list li span:nth-child(2){
    font-size: 21px;
    position: relative;
    bottom: 3px;
    
}
.bottom-sidebar{
    display: flex;
    color: gray;
    padding-left: 15px;
    width: 100%;
    flex-direction: column;

}
.content-download-sidebar{
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: inline-flex;

}
.content-download-sidebar p{
    padding-left: 5px;
    padding-top: 2px;
    
}
#download-bottom-sidebar{
    width: 20px;
    
}
.content-user-sidebar{
    width: 100%;
    display: inline-flex;
    padding: 8px 0 5px 0;
}
#user-bottom-sidebar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    
    
}
.content-user-sidebar h4{
    color: white;
    padding-left: 10px;
    padding-top: 5px;
}
