*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;

}
main{
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
}
/* UTILITIES */
.bottom-bar{
    width: 100%;
    height: 75px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    
}
.sidebar{
    height: 100%;
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}
.main-content{
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;

}
.top-bar{
    width: calc(100% - 200px);
    height: 75px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: end;
    z-index: 100;
}
.row{
    display: flex;

}
.border-radius{
    border-radius: 50%;
}



/* FINE UTILITIES */

/* STYLE TOP-BAR */
#button-top-bar{
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    background-color: black;
   

    
}


/* STYLE CONTENT-MAIN */
.categories{
    text-align: center;
    padding-top: 90px;
    color: gray;
}
.categories span{
    padding-right: 15px;
    
}

.first-container{
    color: white;
    padding: 20px;



}
.second-container{
    color: white;
    padding: 20px;
    margin-bottom: 20px;


}
.third-container{
    color: white;
    padding: 20px;
    margin-bottom: 20px;


}
.first-section-img{
    width: calc(100%/6);
    margin-right: 10px;
    margin-top: 20px;
    position: relative;
    
}

.song-img{
    width: 100%;

}

.song-img-hover{
    width: 100%;
    filter: brightness(50%);
    display: none;

}
.svg-hover{
    width: 100px;
    position: absolute;
    top: 57%;
    right: 30%;
    transform: translate(-50, -50);
    display: none;
}

.subtitle{
    text-align: center;
    padding-top: 10px;
}
.subtitle p{
    color: gray;
    padding-top: 5px;

}
.second-container p, .third-container p{
    color: gray;
}


/* SIDEBAR */
.top-sidebar{
    padding-left: 15px;
}
.logo-sidebar{
    width: 100%;
    color: white;
}
#logo-spotify{
    width: 130px;
    margin: 15px 0;
    
}

.menu-sidebar{
    color: white;   
}
.menu-list{

    list-style-type: none;
    padding-bottom: 20px;
}

.icon-menu{
    width: 30px;


}
.menu-list span{
    position: relative;
    bottom: 10px;
    color: gray;

}
.playlist{
    width: 100%;
    height: 30vh;
    overflow-y: auto;
    color: white;
}
.playlist-list{

    list-style-type: none;

}
.playlist-list li{
    padding-bottom: 5px;
    color: gray;


}
.playlist-list i{
    font-size: 40px;
    padding-bottom: 25px;
}
.playlist-list h4{
    color: white;
    padding-bottom: 10px;

}
.playlist-list li span:nth-child(2){
    font-size: 21px;
    position: relative;
    bottom: 3px;
    
}
.bottom-sidebar{
    display: flex;
    color: gray;
    padding-left: 15px;
    width: 100%;
    flex-direction: column;

}
.content-download-sidebar{
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: inline-flex;

}
.content-download-sidebar p{
    padding-left: 5px;
    padding-top: 2px;
    
}
#download-bottom-sidebar{
    width: 20px;
    
}
.content-user-sidebar{
    width: 100%;
    display: inline-flex;
    padding: 8px 0 5px 0;
}
#user-bottom-sidebar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    
    
}
.content-user-sidebar h4{
    color: white;
    padding-left: 10px;
    padding-top: 5px;
}

/* BOTTOM-BAR */

.col-20{
    width: 20%;
    align-items: center;


}
.col-60{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.icon-col-60{
    padding-top: 10px;
}
.icon-col-60 i{
    color: white;
    padding-right: 20px;
    
}
.right-song{
    width: 80%;
    text-align: center;
    color: white;
    padding-top: 10px;

}
.right-song input{
    width: 70%;
    vertical-align: middle;
    

    
    
    
}




.content-col-20{
    padding: 20px 15px;
 
    /* display: inline-flex; */
}
#img-col-20{
    width: 30px;
    height: 30px;
    display: inline-block;

}
.subtitle-col-20{
    display: inline-block;
    color: white;
    margin-bottom: 5px;
    position: relative;
    bottom: 3px;
    left: 5px;
}
h6{
    color: gray;
    
}
.icon-col-20{
    color: gray;
    display: inline-block;
    padding-left: 40px;
    

}



/* EFFETTI HOVER */
.categories span:hover{
    color: white;

}
#button-top-bar:hover{
    padding: 15px 40px;
    border-radius: 40px;
}
.menu-list span:hover{
    color: white;

}
.playlist-list li:hover{
    color: white;
}

h6:hover{
    text-decoration: underline;
}
#play:hover{
    font-size: 25px;
}
.icon-col-20 i:hover{
    color: white;
}

.song-img:hover{
    filter: brightness(50%);
}




/* MEDIA QUERY MOBILE */
@media screen and (max-width: 480px) {
    .bottom-bar{
        width: 100%;
        height: 75px;
       
        
    }
    .sidebar{
        height: 100%;
        width: 50px;
       
    }
    .menu-list span{
        display: none;
    }
    .playlist{
        display: none;
    }
    .bottom-sidebar h4{
        display: none;
    }
    .bottom-sidebar p{
        display: none;
    }
    .content-download-sidebar{
        border-bottom: none;
    }
    .main-content{
        width: calc(100% - 50px);
        height: 100%;
        
    
    }
    .top-bar{
        width: calc(100% - 50px);

        
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }
    .first-section-img{
        width: calc(100%/2 - 20px);
        flex-wrap: wrap;

        
        
    
       
    }
    .first-container, .second-container, .third-container{
        margin-left: 20px;
        
    }
    
    
    
}

/* MEDIA QUERY TABLET */
@media screen and (max-width: 768px) {
    .bottom-bar{
        width: 100%;
        height: 75px;
       
        
    }
    .sidebar{
        height: 100%;
        width: 200px;
       
    }
    
    .main-content{
        width: calc(100% - 200px);
        height: 100%;
        
    
    }
    .top-bar{
        width: calc(100% - 200px);

        
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }
    .first-section-img{
        width: calc(100%/2 - 20px);
        flex-wrap: wrap;
  
    }
    .first-container, .second-container, .third-container{
        margin-left: 20px;
    }
     

}




/* MEDIA QUERY DESKTOP*/
@media screen and (max-width: 991px) {
    .bottom-bar{
        width: 100%;
        height: 75px;
       
        
    }
    .sidebar{
        height: 100%;
        width: 200px;
       
    }
    
    .main-content{
        width: calc(100% - 200px);
        height: 100%;
        
    
    }
    .top-bar{
        width: calc(100% - 200px);

        
    }
    .main-content{
        max-width: 980px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;


    }
    .first-section-img{
        
        width: calc(100%/4 - 20px);
        flex-wrap: wrap;
      
        
        
    
       
    }
    .first-container, .second-container, .third-container{
        margin-left: 20px;
    }
     

}


/* MEDIA QUERY LARGE DESKTOP */
@media screen and ( max-width: 991px ) {
    .bottom-bar{
        width: 100%;
        height: 75px;
       
        
    }
    .sidebar{
        height: 100%;
        width: 200px;
       
    }
    
    .main-content{
        width: calc(100% - 200px);
        height: 100%;
        
    
    }
    .top-bar{
        width: calc(100% - 200px);

        
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }
    .first-section-img{
        width: calc(100%/6 - 20px);
        flex-wrap: wrap;
       
    }
    .first-container, .second-container, .third-container{
        margin-left: 20px;
    }
     

}